<launch>

  <include file="$(find kubot_bringup)/launch/robot_with_imu.launch"/>

  <param name="use_sim_time" value="false" />

  <!--include file="$(find kubot_navigation)/launch/include/rgbd_move_base.launch.xml" /-->

  <include file="$(find kubot_navigation)/launch/include/rgbd_gmapping.launch.xml" />
  
</launch>
