<launch>
  <arg name="model" default="$(env KUBOT_MODEL)" doc="model type [apollo, zeus, hades, hera]"/>
  <include file="$(find kubot_bringup)/launch/robot_with_imu.launch"/>

  <param name="use_sim_time" value="false" />

  <include file="$(find kubot_navigation)/launch/include/move_base.launch.xml" />

  <include file="$(find kubot_navigation)/launch/include/gmapping.launch.xml" />
  <include file="$(find kubot_navigation)/launch/include/amcl.launch.xml" />
 

  <node pkg="frontier_exploration" type="explore_client" name="explore_client" output="screen"/>
  <node pkg="frontier_exploration" type="explore_server" name="explore_server" output="screen" >
    <param name="frequency" type="double" value="1.0"/>
    <param name="goal_aliasing" type="double" value="8"/>
    <rosparam file="$(find kubot_navigation)/params/costmap_common_params_$(arg model).yaml" command="load" ns="explore_costmap" />
    <rosparam file="$(find kubot_navigation)/config/frontier_exploration.yaml" command="load" ns="explore_costmap" />
  </node> 
</launch>
