<launch>

  <include file="$(find kubot_bringup)/launch/robot.launch"/>

  <param name="use_sim_time" value="false" />

  <include file="$(find kubot_navigation)/launch/include/move_base.launch.xml" />

  <include file="$(find kubot_navigation)/launch/include/karto_mapping.launch.xml" />
  
</launch>
