<launch>
  <arg name="lidar" default="$(env KUBOT_LIDAR)" doc="lidar type [rplidar, eai-x4, eai-g4]"/>

  <include file="$(find kubot_bringup)/launch/bringup_without_odom.launch"/>
  <include file="$(find kubot_bringup)/launch/model.launch"/>

  <include file="$(find kubot_bringup)/launch/$(arg lidar).launch"/>

</launch>
