<launch>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
     <arg name="enable_infra1" value="true" />
     <arg name="enable_infra2" value="true" />
     <arg name="unite_imu_method" value="linear_interpolation" />
     <arg name="enable_gyro" value="true" />
     <arg name="enable_accel" value="true" />
     <arg name="enable_sync" value="true" />
  </include> 

  <!-- IMU filter -->
  <node name="imu_filter_madgwick_d435i" pkg="imu_filter_madgwick" type="imu_filter_node">
    <param name="_use_mag" value="false" />
    <param name="_publish_tf" value="false" />
    <param name="orld_frame" value="enu" />
    <remap from="/imu/data_raw" to="/camera/imu"/>
    <remap from="/imu/data" to="/rtabmap/imu"/>
  </node>
</launch>
